h1 {
    text-align: center;
    color: #7f5dc9;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    margin: 5px 0;
}

.itemBox {
    display:block;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    background-color:bisque;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.itemBox:hover {
    background-color: #f08080;
}

body.dark-mode .itemBox {
    background-color: #444;
    color: #f0f0f0;
}

body.dark-mode .itemBox:hover {
    background-color: #555;
}

.itemLink {
    display: block; /* Make the link a block element */
    height: 100%; /* Full height of the box */
    width: 100%; /* Full width of the box */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    background-color: inherit; /* Inherit background color */
    padding: 10px; /* Inner padding */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}